/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    box-sizing: border-box;
    font-family: 'Noto Sans TC',sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
    background-color: #ebb1d7;
    width: 100%;
    padding: 1rem;
}
header h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    
}
header h1 i{
    font-size: 3rem;
}
h1{
    font-size:3rem ;
    margin-bottom: 0.8rem;
}
nav{
    background-color: #e206fa;
}
nav ul{
    display: flex;
    padding-left: 1rem;
}
nav ul li{
    display: flex;
}
nav ul li a{
    display: flex;
    padding: 0.5rem  0.75rem;
    text-decoration: none;
    color: #1f10f7;
    font-size: 1.25rem;
}
nav ul li a:hover{
    color: rgb(244, 52, 234);
    background-color: rgb(248, 244, 4);
}
section.container{
    display: flex;
}
section.left{
    padding: 2rem;
}
section.right{
    padding: 2rem;
}
section.right h5{
    font-size: 1.25rem;
    text-align: center;
    font-weight: bolder;
}

section.right iframe{
    border: 3px solid rgb(131, 225, 233);
    
}
section.left img{
    border: 5px solid rgb(245, 71, 187);
    
}
